*.aps
*.res
*.ncb
*.obj
*.lib
BuildLog.htm
*.suo
*.exe
*.idb
*.pdb
*.map
*.bsc
*.user
*.sbr
*.cache
*.zip
Unicode_Debug/
Unicode_Release/
Debug/
Release/

!Unicode_Debug/typelib/
!Unicode_Release/typelib/
!Unicode_Debug/typelib/*
